include MANIFEST.in
include requirements.txt
include README.md
include package.json
include LICENSE

recursive-include health_safety *.py
recursive-include health_safety *.json
recursive-include health_safety *.js
recursive-include health_safety *.html
recursive-include health_safety *.css
recursive-include health_safety *.txt
recursive-include health_safety *.csv
recursive-include health_safety *.md

# Include public assets
recursive-include health_safety/public *.*

# Exclude node_modules and caches
prune health_safety/node_modules
prune **/__pycache__
