include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include health_safety *.py
recursive-include health_safety/public *
recursive-include health_safety/config *
recursive-include health_safety/health_safety/doctype *
recursive-include health_safety/templates *
recursive-include health_safety/translations *
